.env
.idea/
.vscode/
*.bak
*.dll
*.dylib
*.exe
*.exe~
*.out
*.so
*.swp
/target/
Cargo.lock.bak
coverage.*
integration-attachment.txt
node_modules/
proof-api-response.json
proof-cli-format.json
profile.cov
tmp-read/
